@import "tailwindcss";

:root {
  --foreground: #ffff;
  --primary:  #0284c7;
  --secondary: #0e76ed;
  --background: #ffff;
  /* --background: linear-gradient(to bottom right, var(--primary), var(--secondary)); */
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffff;
    --primary:  #0284c7;
    --secondary: #0e76ed;
    --background: #ffff;
    /* --background: linear-gradient(to bottom right, var(--primary), var(--secondary)); */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}